.full-width{
  background-color: @primaryColor;
  .gridObjects{
    > h2, > h6{
      color: @background !important;
    }
  }
  &.alt{
    background-color: @background;
    &:nth-of-type(even) {
      background-color: @altLightGrey;
    }
  }
}

//Services
.row{
  width:@grid;
  min-height:200px;
  overflow: hidden;
  padding: 100px 0;
  margin: 0 auto;
  .box-sizing(border-box);

  &:last-of-type{
    margin-bottom:0;
  }
  @media screen and (max-width:@grid) {
    width: 100%;
    padding: 30px 0 40px;
  }
}
.imgRow{
  height: 200px;
  @media screen and (max-width: @wide) {
    padding: 0 !important;
    width: 100% !important;
  }
  @media (max-width: @grid) {
    width: 190px;
    height: 200px;
    margin-bottom: 20px;
  }
  img{
    width: 200px;
    @media screen and (max-width: @wide) {
      margin: 0 auto;
      display: block;
    }
  }
}

.leftCol{
  padding-bottom: 20px;
  @media (max-width: @grid) {
    padding-left: 0;
    width: 90%;
  }
  h5,p{
    margin-bottom: 8px;
  }
}