.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

div[class^="col"] {
  float: left;
  display: inline-block;
  padding: 0 5%;
  .box-sizing(border-box);
  &:first-of-type{
    padding-left: 0;
  }
  &:last-of-type{
    padding-right: 0;
  }
  @media (max-width: @tablet) {
    width: 100%;
  }
}