.date{
  color:@altGrey;
  font-style: italic;
}

body {
  padding-top: 70px;
  background-color: #ffffff;
  .box-shadow(4px 4px 4px 4px #000000);
  @media screen and (max-width: @grid) {
    padding-top: 50px;
  }
}

section{
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  .border-radius (@radius: 5px);
  color: @primaryColor;
  border: 2px solid @primaryColor;
  padding: 6px 10px;
  font-size: 12pt;
  cursor:pointer;
  .transition(background-color .4s);
  .fa {
    padding-left: 10px;
  }
  a {
    color:@primaryColor;;
    .transition(color .4s);
  }
  &:hover{
    background-color: @primaryColor;
    .transition(background-color .4s);
    color: @background;
    a{
      color: @background;
      .transition(color .4s);
    }
  }
  &.white-bg{
    background-color: #ffffff;
    .transition(all, @duration);
    &:hover{
      color: #ffffff;
      background-color: @primaryColor;
      .transition(all, @duration);
    }
  }
  &.reversed{
    color: @background;
    border: 2px solid @background;
    &:hover{
      background-color: @background;
      .transition(background-color .4s);
      color: @primaryColor;
      a{
        color: @primaryColor;
        .transition(color .4s);
      }
    }
  }
}

.wrapper {
  width:@grid;
  margin: 0 auto;
  @media screen and (max-width: @grid) {
    width: 90%;
    padding: 0 5%;
    .box-sizing(border-box);
  }
}

.grid {
  width:@grid;
  margin: 0 auto;
  height: inherit;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: @grid) {
    width: 100%;
    &.gridObjects{
      width: 90%;
      padding:0 5% 30px;
    }
  }
}

::-moz-selection {
  color: #ffffff;
  background: @primaryColor;
}

::selection {
  color: #ffffff;
  background: @primaryColor;
}

.primary {
  color: @darkPrimary;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-read-more {
  margin-top: 10px;
  display: block;
  font-size: .8em;
  .fa {
    margin-left: 10px;
    font-size: 14pt;
  }
}

.black-overlay:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, .55);
  height: 100%;
  width: 100%;
}

.hide-tablet {
  @media screen and (max-width: @tablet){
    display: none !important;
  }
}

.full-width {
  .gradient (@primaryColor,darken(@primaryColor, 5%));
  h2{
    color: #ffffff;
  }
}