h1, h2, h3, h4, h5, button,span{
  font-family: @primaryFont;
  line-height: 1.4em;
  text-transform:uppercase;
}

h1 {
  font-size: 1.8em;
  @media (max-width: @tablet){
    font-size: 2em;
  }
}
h2 {
  font-size: 1.8em;
  @media (max-width: @tablet){
    font-size: 2em;
  }
}
h3 {
  font-size: 1.5em;
  @media (max-width: @tablet){
    font-size: 2em;
  }
}
h4 {
  font-size: 1.3em;
  @media (max-width: @tablet){
    font-size: 1.5em;
  }
}
h5 {
  font-size: 1em;
  @media (max-width: @tablet){
    font-size: 1.3em;
  }
}
h6 {
  font-size: .8em;
  font-family: @primaryFont;
  @media (max-width:@grid) {
    font-size: .8em;
  }
}

p,li {
  font-size: .9em;
  font-weight: 400;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  @media (max-width:@grid) {
    font-size: .8em;
  }
}

small {
  font-size: .8em;
  font-weight: 400;
  line-height: 1.35;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}

em{
  font-style: italic;
  font-family: @secondaryFont;
  display: block;
}

ol{
  list-style-type: decimal;
}

ul{
  li {
    list-style-type: none;
    display: list-item;
  }
}

pre{
  background-color: @altLightGrey;
  border-radius: 4px;
  padding: 15px;
  color:@textColor;
  .box-sizing(border-box);
  overflow: hidden;
  display: block;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  margin-bottom: 25px;
}

.bold{
  font-weight: 700;
}

::-webkit-input-placeholder {
  color: darken(@altGrey, 15%);
}

:-moz-placeholder { /* Firefox 18- */
  color: darken(@altGrey, 15%);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: darken(@altGrey, 15%);
}

:-ms-input-placeholder {
  color: darken(@altGrey, 15%);
}