@wide: 1130px;
@grid: 1024px;
@min-grid: (@grid - 1);
@break: 968px;
@tablet: 768px;
@min-tablet: 767px;
@iphone: 400px;

@primaryColor: #0FBDA0;
@secondaryColor: #e1e1e1;
@textColor: #3b3b3b;
@background: #fff;

@altGrey: #969696;
@altLightGrey: #f0f0f0;
@darkPrimary:darken(@primaryColor, 15%);
@darkBackground: darken(@background, 10%);

@primaryFont: 'Montserrat', sans-serif;
@secondaryFont:'Open Sans', sans-serif;

@duration:200ms;