.services {
  overflow: hidden;
  padding: 40px 0;
  .box-sizing(border-box);
  &:hover .col-50 h4:after {
      width: 250px;
      .transition(all, @duration-long);
  }
  a{
    position: absolute;
    top:-70px;
  }
  &.even {
    h4{
      color: @background;
      &:after {
        border-bottom: 2px solid @background;
      }
    }
    ul li {
      color: #ffffff;
      background-color: @background;
    }
  }
  &.odd{
    background-color: @background;
    h4{
      color: #ffffff;
      &:after {
        border-bottom: 2px solid #ffffff;
      }
    }
    ul li {
      background-color: #ffffff;
      color: @background;
    }
    p{
      color: #ffffff;
    }
  }
  .col-50 {
    &:first-of-type {
      margin-bottom: 40px;
    }
    img{
      max-width: 100%;
      max-height: 300px;
      margin: 0 auto;
      display: block;
    }
    h4 {
      margin-bottom: 20px;
      font-size: 1.6em;
      &:after {
        content: '';
        margin-top: 5px;
        display: block;
        width: 200px;
        margin-bottom: 20px;
        .transition(all, @duration-long);
      }
    }
    ul {
      padding-top: 18px;
      li {
        font-size: .8em;
        display: inline-block;
        padding: 5px 8px;
        margin-right: 4px;
        .box-sizing(border-box);
        margin-bottom: 10px;
      }
    }
    p{
      font-size: 1em;
    }
  }
}